<div class="title">
  <h2>נא הכנס מספרים בקוביות שלפניך</h2>
  <h3>
    שים לב, חובה להכניס מספרים בלבד. לאחר שהזנת את כל המספרים, תוכל להוסיף
    מספרים ככל אוות נפשך
  </h3>
</div>
<form [formGroup]="upForm" class="senter">
  <div formArrayName="numbers">
    <a *ngFor="let number of numbers.controls; let i = index">
      <a [formGroup]="number">
        {{(i+1)}}
        <input class="box" formControlName="num" />
      
        <div *ngIf="upForm.get(['numbers', i, 'num'])?.hasError('required')" style="color: blue">
          נא הכנס מספר
        </div>
        <div *ngIf="upForm.get(['numbers', i, 'num'])?.hasError('pattern')" style="color: red">
          ערך לא חוקי
        </div>
      </a>
    </a>
  </div>
  <button type="button" class="btn btn-primary" *ngIf="upForm.get(['numbers'])?.valid"
    (click)="addNumber()">
    הוסף מספר נוסף
  </button>

  <button type="button" class="btn btn-success" [disabled]="upForm.get(['numbers'])?.invalid" (click)="check()">
    בוא נחשב
  </button>

  <div *ngIf="localdata.isEqual == null">
    <h2>אין התאמה או שלא הוכנסו מספרים</h2>
  </div>
  <div *ngIf="localdata.isEqual">
    <h2>יש התאמה! הספרות שמימין ומשמאל לתא מספר {{localdata.numberOfEqual}} שווים בערכם</h2>
  </div>

  <br />
  <br />
  <br />
  <h1>היסטורית בדיקות</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">המערך</th>
        <th scope="col">מצב התאמה</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of localHistoryData">
        <td>{{ item.array }}</td>
        <td>{{ item.isEqual }}</td>
      </tr>
    </tbody>
  </table>
</form>